@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-main {
    @apply bg-sky-600 hover:bg-sky-700 px-5 py-3 text-white rounded-lg;
  }
}

.dashboard-container {  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 0.8fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-bar nav-bar nav-bar nav-bar"
    "tool-bar view-container view-container view-container"
    "tool-bar view-container view-container view-container"
    "tool-bar view-container view-container view-container"
    "tool-bar view-container view-container view-container";
}

.nav-bar { grid-area: nav-bar; }

.tool-bar { grid-area: tool-bar; }

.view-container { grid-area: view-container; }


.navbar {
  border-bottom: 1 px solid lightgray;
  display: flex;
  justify-content: flex-end;
}

.auth-form {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 52, 64);
  border-radius: 20px;
  width: 30vw;
  height: 400px;
  padding: 20px;
}

.auth-form-enter {
  opacity: 0;
  transform: scale(0.9);
}

.auth-form-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.wrapper input {
  width: 60%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: auto;
  margin-top: 3rem;
}

.landing-container article h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.cluster-container {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
}

.buttons-container {
  grid-column-start: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons-container button {
  width: 120px;
  height: 35px;
  font-size: 12px;
}

.chart-container {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height:40vh; 
  width:45vw
}

.topic-chart p:last-of-type {
  color: rgb(64, 180, 179);
}

.topic-chart p:last-of-type span {
  font-weight: 800;
}